.contact-container{
    margin: 4rem 0;
    position: relative
}
.contact-container h5{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
    position: relative;
    left: 620px; 
}
.contact-content{
    display: flex;
    gap: 3rem;
}